@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap");
:root {
  --base-font: "Open Sans";
  --header-font: "Roboto";
  /* CSS HSL */
  /* https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500 */
  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --honey-yellow: hsla(43, 100%, 51%, 1);
  --orange: hsla(32, 100%, 49%, 1);
  --dark-color: var(--prussian-blue);
  --light-color: #eee;
}

.lite {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.full-bleed {
  background-color: var(--dark-color);
  color: var(--light-color);
  background: linear-gradient(to bottom right, var(--dark-color) 60%, var(--blue-green));
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  grid-column: 1/-1;
  padding: 4rem 0;
}

a, a:active, a:hover, a:visited {
  color: var(--prussian-blue);
  text-decoration: none;
  transition: all 0.2s;
}

a:active, a:hover {
  color: var(--blue-green);
  text-decoration: underline;
}

html {
  font-family: var(--base-font, Helvetica, Arial, sans-serif);
  font-size: 62.5%;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr minmax(0, 96rem) 1fr;
  font-size: 1.6rem;
  margin: 0 auto;
  place-content: center;
}
body > * {
  grid-column: 2;
  padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-color);
  font-family: var(--header-font, Helvetica, Arial, sans-serif);
  margin: 0 0 2rem;
}

header h1 {
  text-transform: uppercase;
}
header h1,
header h2 {
  color: var(--light-color);
}

main {
  margin: 4rem 0;
}
main > section {
  margin: 2rem 0 6rem;
}
main > section > * {
  padding: 1rem 2rem;
}
main > section > h2 {
  background: linear-gradient(to bottom right, var(--dark-color) 60%, var(--blue-green));
  border-bottom: 1rem solid var(--orange);
  color: var(--light-color);
  font-weight: 100;
  text-transform: uppercase;
  padding: 2rem;
}