@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Material+Icons&family=Trade+Winds&display=swap");
a, a:active, a:hover, a:visited {
  color: var(--prussian-blue);
  text-decoration: none;
  transition: all 0.2s;
}

a:active, a:hover {
  color: var(--blue-green);
  text-decoration: underline;
}

:root {
  --base-font: "Open Sans";
  --header-font: "Trade Winds";
  --roboto: "Roboto";
  /* CSS HSL */
  /* https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500 */
  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --honey-yellow: hsla(43, 100%, 51%, 1);
  --orange: hsla(32, 100%, 49%, 1);
  --dark-color: #333;
  --light-color: #eee;
}

.lite {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.full-bleed {
  background: linear-gradient(to bottom, #ccc 0, #eee 50%);
  text-align: center;
  width: 100%;
  grid-column: 1/-1;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html {
  font-family: var(--base-font, Helvetica, Arial, sans-serif);
  font-size: 62.5%;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr minmax(0, 96rem) 1fr;
  font-size: 1.6rem;
  margin: 0 auto;
  place-content: center;
}
body > * {
  grid-column: 2;
  padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-color);
  font-family: var(--header-font, cursive);
  margin: 0 0 2rem;
}

header {
  padding: 4rem 0 0;
}
header .material-icons-outlined {
  grid-area: icon;
  font-size: 10rem;
  text-align: right;
}
header h1 {
  grid-area: h1;
  text-transform: uppercase;
}
header h2 {
  grid-area: h2;
  font-family: var(--roboto, Helvetica, Arial, sans-serif);
  margin: 0 2rem;
}
@media screen and (min-width: 576px) {
  header {
    display: grid;
    grid-template-columns: min(2rem, 1fr) minmax(1fr, 10rem) minmax(1fr, 86rem) min(2rem, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". icon h1 ." ". icon h2 ." ". . . .";
  }
  header h1,
header h2 {
    text-align: left;
    margin: 0;
  }
}

main {
  margin: 4rem 0;
}
main > section {
  margin: 2rem 0 6rem;
}
main > section > * {
  padding: 1rem 2rem;
}
main > section > h2 {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

footer {
  padding: 4rem 2rem;
}