@use 'links';
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;
@use 'utilities';


html { 
  font-family: var(--base-font, Helvetica, Arial, sans-serif);
  font-size: 62.5%; 
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 1.8rem;
  margin: 0 auto;
  place-content: center;
}

// Headings
#{f.headings(1,6)} {
  color: var(--dark-color);
  font-family: var(--header-font, cursive);
  letter-spacing: 0.2ch;
  margin: 0 0 2rem;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 96rem;
  text-align: left;
  padding: 0 2.5rem;
}

header {
  padding-top: 4rem;
  text-align: center;
}

h1 {
  width: fit-content;
  position: relative;
  text-align: center;
  margin-inline: auto;

  &::after {
    width: 100%;
    background-color: #fca311;
    height: 1.5rem;
    content: '';
    position: absolute;
    bottom: 1rem;
    transform: skew(-15deg);
    left: 0;
    z-index: -1;
  }
}

section h2 {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 2rem;

  &::before,
  &::after {
    transform: skew(-15deg);
    content: '';
    display: inline-block;
    bottom: 2rem;
    left: 1rem;
    background-color: #fca311;
    height: 1.5rem;
    z-index: -1;
    width: 5rem;
  }

  &::after {
    width: 100%;
  }

  
}

section {
  margin: 5rem 0;
}

p {
  line-height: 1.5;
}

.intro {
  @media only screen and (min-width: 560px) {
    display: grid;
    grid-template-columns: 35rem auto;
  }

  > * {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  figure {
    grid-column: 1 / 2;

    figcaption {
      font-size: 1.4rem;
      font-style: italic;
      padding: 1rem 2rem;
    }

    img {
      box-shadow: 5px 5px 15px var(--dark-color);
      border-radius: 1rem;
      width: 100%;
      height: auto;
    }
  }
}

section {
  > *:not(h2) {
    margin-inline: 2.5rem;
  }
}

.event {
  .event-date {
    font-family: var(--header-font, cursive);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.video {
  iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: calc(100% - 5rem);
  }
}

blockquote {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 2rem;
  border-radius: 1rem;
  font-style: italic;
  line-height: 1.5;

  cite {
    margin: 1rem 0;
    display: block;
    font-style: normal;
  }
}