@use 'links';
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;
@use 'utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Material+Icons&family=Trade+Winds&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

html { 
  font-family: var(--base-font, Helvetica, Arial, sans-serif);
  font-size: 62.5%; 
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 1.8rem;
  margin: 0 auto;
  place-content: center;
}

// Headings
#{f.headings(1,6)} {
  color: var(--light-color);
  font-family: var(--header-font, cursive);
  letter-spacing: 0.2ch;
  margin: 0 0 2rem;
}

// header
header {
  padding: 4rem 2rem 0;
  text-align: center;

  #logo {
    height: 100%;
    max-height: 10rem;
    width: 100%;
  }
    
  h1 {
    font-size: 2rem;
    padding: 0;
    grid-area: h1;
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (min-width: 576px) {
    padding-inline: 0;

    #logo {
      max-height: 20rem;
    }
  }
}

// main
main {
  margin: 0 0 4rem;

  > section {
    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr)
      minmax(0, 96rem)
      minmax(2rem, 1fr);
    padding: 6rem 0;

    &:nth-child(odd) {
      background-color: #222;
    }

    &.music {
      h2 {
        margin-bottom: 3rem;
      }
    }

    > * {
      grid-column: 2/3;
    }

    > h1 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    > h2 {
      border-bottom: 2px dotted var(--light-color);
      text-transform: uppercase;
      padding: 0 0 0.5rem;
      margin: 0;

      background: linear-gradient(45deg, var(--light-color), #999 30%);
      background-clip: text;
      -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
    }

    img {
      height: 100%;
      max-width: 100%;
    }

    p {
      line-height: 1.75;
      margin: 3rem 0;
    }
  }
}

footer {
  padding: 4rem 2rem;
  
  // fix overflow 
  &.full-bleed {
    width: calc(100% - 4rem);
  }
}
