@use 'links';
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;
@use 'utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Material+Icons&family=Trade+Winds&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

html { 
  font-family: var(--base-font, Helvetica, Arial, sans-serif);
  font-size: 62.5%; 
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  display: grid;
  grid-template-columns:
  1fr
  minmax(0, 96rem)
  1fr;
  font-size: 1.6rem;
  margin: 0 auto;
  place-content: center;


  & > * {
    grid-column: 2;
    padding: 0 2rem;
  }
}

// Headings
#{f.headings(1,6)} {
  color: var(--dark-color);
  font-family: var(--header-font, cursive);
  margin: 0 0 2rem;
}

// header

header {
  padding: 4rem 0 0;

  .material-icons-outlined {
    grid-area: icon;
    font-size: 10rem;
    text-align: right;
  }
    
  h1 {
    grid-area: h1;
    text-transform: uppercase;
  }

  h2 {
    grid-area: h2;
    font-family: var(--roboto, Helvetica, Arial, sans-serif);
    margin: 0 2rem;
  }

  @media screen and (min-width: 576px) {
    display: grid; 
    grid-template-columns: min(2rem, 1fr) minmax(1fr, 10rem) minmax(1fr, 86rem) min(2rem, 1fr); 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". icon h1 ."
      ". icon h2 ."
      ". . . .";

    h1,
    h2 {
      text-align: left;
      margin: 0;
    }
  }
}


// main
main {
  margin: 0 0 4rem;

  > section {
    margin: 2rem 0 6rem;

    > * {
      padding: 1rem 2rem;
    }

    > h2 {
      border-bottom: 1px solid black;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
  }
}

footer {
  padding: 4rem 2rem;
}
